@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200;400&family=Inter:wght@300;700&display=swap');

:root {
  --primary-color: white;
  --secondary-color: #707072;
  --third-color: #27E88C;
  --background-color: #1e1e23;
  --third-color2: #56e8a23d;


  transition: var(--primary-color) 0.3s ease, var(--secondary-color) 0.3s ease, var(--third-color) 0.3s ease, var(--background-color) 1.3s ease;
}

html,
body, textarea {
  background: var(--background-color);
  padding: 0;
  margin: 0;
  font-family: 'Inter', Handjet, sans-serif;

}

span {
  color: var(--secondary-color);
}

p,
h1,
h2,
h3 {
  color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  font-size: 15px;
}

label {
  color: white;
  font-size: 14px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.profilepic {
  margin: 12% 0;
  width: 380px;
  border-radius: 20px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.features ul {
  max-width: 394px;
  position: relative;
}

.features ul:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 100%;
  left: 86px;
  background: white;
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
}

.bound {
  width: 87%;
  max-width: calc(996 * 1px);
  margin: 0 auto;
}

.contact-basic {
  border-color: white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: black;
    background: #f3f3f3;
  }
}