@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200;400&family=Inter:wght@300;700&display=swap');

:root {
  --primary-color: white;
  --secondary-color:  #636364;
  --third-color: #27E88C;
  --background-color: #121215; 
  transition: var(--primary-color) 0.3s ease, var(--secondary-color) 0.3s ease, var(--third-color) 0.3s ease, var(--background-color) 1.3s ease;
}

html,
body {
  background: var(--background-color);
  padding: 0;
  margin: 0;
  font-family: 'Inter', Handjet, sans-serif;

}
span{
  color: var(--secondary-color);
}
p,h1,h2,h3{
  color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}
span{
  font-size: 15px;
}
* {
  margin: 0;
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: #f3f3f3;
  }
}
