@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200;400&family=Inter:wght@300;700&display=swap');

:root {
  --primary-color: white;
  --secondary-color: #636364;
  --third-color: #27E88C;
  --background-color: #121215;
  transition: var(--primary-color) 0.3s ease, var(--secondary-color) 0.3s ease, var(--third-color) 0.3s ease, var(--background-color) 1.3s ease;
}

html,
body, textarea {
  background: var(--background-color);
  padding: 0;
  margin: 0;
  font-family: 'Inter', Handjet, sans-serif;

}

span {
  color: var(--secondary-color);
}

p,
h1,
h2,
h3 {
  color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  font-size: 15px;
}

label {
  color: white;
  font-size: 14px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.profilepic {
  margin: 12% 0;
  width: 100%;
  border-radius: 10px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.features ul {
  max-width: 394px;
  position: relative;
}

.features ul:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 100%;
  left: 86px;
  background: white;
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
}

.bound {
  width: 87%;
  max-width: calc(996 * 1px);
  margin: 0 auto;
}

.contact-basic {
  border-color: white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: black;
    background: #f3f3f3;
  }
}

.contact-form {

  span {
    font-size: 13px;
    margin-left: 5px;
  }

  .contact {
    margin: 0 5px;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 30px;

  }

  .contact-row {
    display: flex;
    flex-direction: row;
  }

  input, textarea {
    color: var(--primary-color);
    padding: 1rem 0;
    background: none;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    width: auto;
    box-shadow: none;
    font-size: large;
    resize: none;

    &:focus {
      outline: 0;
      border-bottom: 1px solid var(--third-color);
      transition: border-bottom-color 0.3s, box-shadow 0.3s;
    }
  }

  .phonenumbercs{
    
    &:hover {
      outline: 0;
      border-bottom: 1px solid var(--third-color);
      transition: border-bottom-color 0.3s, box-shadow 0.3s;
    }
  }

  input[type='file'] {
    display: none;
  }

  .contact-file {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    label {
      margin-left: 10px;
    }
  }

  textarea{
    font-size: large;
  }

}