
.container{
  background: var(--background-color);

}

.main {
  padding: 1rem 1rem;
  display: grid;
  grid-template-areas: 'left  middle middle middle   right';
  gap: 10%;

}

.left_side{
  margin: 3px; 
  grid-area: left;
}

.middle_side{
  grid-area: middle;
}

.right_side{
  grid-area: right;
}

@media (max-width: 800px) {
  .main {
    padding: 1rem 1rem;
    display: grid;
    grid-template-areas: 'left'
                        'middle'
                        'right';
    gap: 3%;
  }
}